.logo {
  font-size: remy(40);
  line-height: 1.095;
  color: white;
  font-weight: 800;
  margin-right: auto;
  span {
    color: var(--subAc);
  }
  @media (max-width: remy(1199)) {
    font-size: remy(32);
  }
  @media (max-width: remy(574)) {
    font-size: remy(22);
  }
}

.header-container {
  width: 100%;
  max-width: remy(1390);
  padding-inline: remy(15);
  margin: 0 auto;
}
.header-nav {
  height: remy(101);
  background-color: var(--ac);
  z-index: 3;
  position: relative;
  &__btn {
    column-gap: remy(40);
    margin-left: remy(73);

    @media (max-width: remy(1439)) {
      margin-left: 2.5rem;
    }
    @media (max-width: remy(1199)) {
      margin-left: 1rem;
      column-gap: 1.5rem;
    }
    @media (max-width: remy(1199)) {
      .btn-outline {
        display: none;
      }
    }
  }
  @media (max-width: remy(991)) {
    height: remy(64);
  }
}
