//========CTA========
section.cta 
 //====== slider =====
 .slider-content 

  //====== slider title=====
  .slider-content__title
    h2.h2 Become more than you are.
    p.subtitle Staying active is great fun and keeps you healthy. Check out how you can join in.
    a(href="!#").btn Let’s do it!

  //====== ctaSwiper =====
  .swiper.cta-slider
    .swiper-wrapper
     .swiper-slide 
        .swiper__item
            img(src="img/cta-slide.webp",alt="img" loading="lazy")
     .swiper-slide 
        .swiper__item
            img(src="img/header-slide2.webp",alt="img" loading="lazy")
     .swiper-slide 
        .swiper__item
            img(src="img/header-slide3.webp",alt="img" loading="lazy")
     .swiper-slide 
        .swiper__item
            img(src="img/header-slide4.webp",alt="img" loading="lazy")
        
    .swiper-pagination