.btn,
.btn-outline {
  display: inline-block;
  min-width: remy(237);
  height: remy(68);
  line-height: remy(68);
  text-align: center;
  border-radius: remy(34);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  flex-shrink: 0;
  color: white;
  letter-spacing: remy(0.75);
  cursor: pointer;
  white-space: nowrap;
  background-color: var(--ac);
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--darkAc);
}

.btn:focus {
  background-color: var(--darkAc);
  outline: remy(9) solid var(--outBr);
}

.btn-outline {
  border: remy(2) solid var(--ac);
  background-color: white;
  color: var(--ac);
  line-height: remy(64);
}
.btn-outline--slim {
  height: remy(50);
  line-height: remy(46);
  min-width: remy(166);
  font-weight: 400;
}
.btn-outline:hover {
  border: remy(2) solid var(--ac);
  color: var(--darkAc);
}

.btn-outline:focus {
  border: remy(2) solid var(--ac);
  color: var(--ac);
  outline: remy(9) solid var(--outBr);
  background-color: white;
}
.btn-outline.btn-outline--slim:focus {
  outline: remy(5) solid var(--outBr);
}
.search-open {
  height: remy(50);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: remy(6);
  color: white;
  transition: 0.3s;
  &:hover {
    opacity: 0.7;
  }
  @media (max-width: remy(574)) {
    span {
      display: none;
    }
  }
}
