doctype html
html.greem-theme
  head 
    link(rel="stylesheet" href="./libs/swiper/swiper-bundle.min.css")
    link(rel="stylesheet" href="css/main.css")
body    
    include ../sections/_header.pug
    main.main
      include ../sections/_result.pug 
      include ../sections/_cta.pug
      include ../sections/_premium.pug
      include ../sections/_stories.pug
      include ../sections/_app.pug
      include ../sections/_social.pug
     
    
    script(src='./libs/swiper/swiper-bundle.min.js')  
    script(src='js/index.bundle.js')  
 

